h1 {
	margin-bottom: 10%;
	color: #ff1a1a;
	text-shadow: 1px 0 0 #000,
				 0 1px 0 #000,
				 0 0 1px #000;
	font-size: 48px;
}

strong {
	color: #ff0044;
}

body {
	background-color: #e6fff7
}

p:first-of-type {
	font-weight: bold;
	text-transform: uppercase;
}

p:last-of-type {
	margin-bottom: 3%;
}